{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}

        {% if listing.status == True %}
            
        <div class="container">
            
            <div class="row">
                <div class="col">
                    {% if listing.imgURL %}
                        <img src="{{listing.imgURL}}">
                    {%endif%}
                  </div>
              <div class="col">
                <a href="{% url 'listing_page' listing.title %}">{{listing.title}}</a>
              </div>
              <div class="col">
                {{listing.description}}
              </div>
              <div class="col">
                {{listing.bid}}
              </div>
            </div>
          </div>
          
            
            
        
        {%endif%}       
    
    {%endfor%}

{% endblock %}