{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{listing.title}}</h2>

    <h1> {{listing.description}} </h1>
    
    <p> {{listing.bid}}</p>
    
    {% if listing.imgURL %}
    <img src="{{listing.imgURL}}">
    {%endif%}

    {% if user.is_authenticated %}
    <p> 
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" name="watchlist" value="{{watchlist_button_message}}">
        </form>
    </p>
    <p> 
        <form action="" method="post">
            {% csrf_token %}
            <input type="number" name="bid_value" min="{{required_min_bid}}" placeholder="Min bid is {{required_min_bid}}">
            <input type="submit" name="bid" value="Place your bid">
        </form>
    </p>     
    {% endif %}
    
{% endblock %}